@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Oswald:400,300,700&subset=latin,latin-ext);

#wrapper {
	min-height:1000px;
	background: #ffffff;
}

#header {
	background:#FFFFFF;
  display: flex;
  flex-direction: row;
  font-family :"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 132.361px;
  line-height : 20px;
  margin-left :81.6667px;
  margin-right : 81.6667px;
  margin-top: 45px;
  padding-left: 15px;
  padding-right: 15px;
  
}

.item-header-logo {
  display: flex;
  flex-direction: column;
}

.item-header {
  display: flex;
  flex-direction: row;
}

.search {
	height:40px;
	width:280px;
	margin:0 50px;
	padding: 8px 0 0 35px;
	border:1px solid #333333;
    border-radius: 7px;
    -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.free-name {
  color: #d73a1e;
  font-size: 16px;
}

.bag {
	color:#b3b3b3;
	font-size: 25px;
	margin:10px 0 0 0;
}

.value {
	color:#d73a1e;
}
#menu {
	width:100%;
	color:#ffffff;
	font-size: 15px;
	background:#523468;
	padding: 0 5px 10px 0;
  display: block;
  font-family: "Helvetica Neue",Helvetica;
  font-size :14px;
  height: 50px;
  margin-bottom: 50px;
  position: relative;
  border-width: 0;
}

#nav {
	float:left;
}
	
#nav ul ul {
	display: none;
}

#nav ul li:hover > ul {
	display: block;
}

#nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
}

#nav ul:after {
	content: "";
	clear: both;
	display: block;
}

#nav ul li {
	float: left;
}

#nav ul li:hover {
	background: #422a53;
    border-radius: 7px;
    -moz-border-radius: 7px;
	-webkit-border-radius: 7px;	
}

#nav ul li:hover a {
	color: #fff;
}
	
#nav ul li a {
	display: block;
	color: #FFFFFF;
	padding: 10px 25px;
	text-decoration: none;
}

#nav ul ul {
	top: 100%;
	padding: 0;
	position: absolute;
	background: #523468;
    border-radius: 7px; 
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#nav ul ul li {
	float: none; 
	position: relative;
	border-top: 1px solid #684582;
	border-bottom: 1px solid #684582;
}
	
#nav ul ul li:last-child {
	border-bottom:none;
}
	
#nav ul ul li a {
	color: #fff;
	padding: 10px 31px;
}
			
#nav ul ul li a:hover {
	background: #422a53;
    border-radius: 7px; 
    -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}


#sign-in {
	float:right;
	font-size:15px;
	margin:12px 0 0 0;
	font-family: 'Droid Sans', sans-serif;
}

#sign-in a {
	color:#FFFFFF;
	text-decoration:none;
}

#sign-in span {
	color:#a58ec2;
	font-size:13px;
}

#content h1 {
  color:#000000;
  font-size:18px;
  margin:15px 0 0 52px;
  font-family: 'Oswald', sans-serif;
}

#content ul li {
  float:left;
  width:350px;
  margin:47px;
  list-style:none;
}

.img-produto img {
  width:230px;
}
  
.nome-produto {
  float:left;
  color:#000000;
  font-size: 15px;
  margin:0 10px 0 50px;
  font-family: 'Oswald', sans-serif;
}
  
.valor-produto {
  float:left;
  color:#FF0004;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

#footer {
  float:left;
  height:220px;
  width:90%;
  padding:25px;
  padding-inline: 10vh;
  margin:45px 0 0 0;
  background:#e6e6e6;
}

#footer-esq {
  float:left;
  width:410px;
  height:autopx;
}

#footer-esq p { 
  color:#666666;
  font-size:15px;
  margin:15px 0 0 15px;
  font-family: 'Droid Sans', sans-serif;
}

#footer-esq .areas {
  padding:0;
  float:left;
  width:400px;
  margin:15px 0;
  list-style:none;
}

#footer-esq .areas li a {
  float:left;
  color:#d73a1e;
  font-size:15px;
  margin:5px 15px;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
  font-family: 'Droid Sans', sans-serif;
}

#footer-esq .redes-sociais {
  padding:0;
  float:left;
  width:400px;
  margin:15px 0;
  list-style:none;
}

#footer-esq .redes-sociais li a {
  float:left;
  margin:5px 15px;
}

#footer-dir {
  width:450px;
  float:right;
  height:120px;
  padding:20px;
  color:#000000;
  font-size: 15px;
  background:#FFFFFF;
    border-radius: 7px; 
    -moz-border-radius: 7px;
   -webkit-border-radius: 7px;
  font-family: 'Oswald', sans-serif;
}

.campo-news {
  height:40px;
  width:250px;
  margin:0 20px;
  padding:0 0 0 10px;
  border:1px solid #333333;
    border-radius: 7px;
    -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.btn-enviar {
  border:0px;
  width:90px;
  height:40px;
  color:#FFFFFF;
  font-size:15px;
  padding:5px 15px; 
  font-family:arial;
  background:#d73a1e;
    border-radius: 3px;
    -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.black-overlay {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: black;
  opacity:.80;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
}

.white-box {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10vh;
  padding-inline: 30vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.77);
}

.informations{
  position: absolute;
  margin-left: 10px;
  background-color: #FFFFFF;
  height: auto;
  z-index: 1040;
  width: 50%;
  float: left;
  text-align: left;
}

.close{
  float: right;
  margin: 10px;
  font-size: 20px;
  margin-right: 5px;
}

.informations img{
  width: 100%;
  max-width: 350px;
  padding-top: 5vh;
}
.words{
  margin-top: 20px;
  margin-bottom: 30px;
  float: right;
  width: 35%;
}
.title-box{
  font-weight: bold;
  font-size: 20px;
}
.price{
  font-size: 20px;
  line-height: 0;
  font-weight: bold;
  margin-top: -15px;
  position: relative;
}
.btn-cart { 
  border:0px;
  width:130px;
  height:40px;
  color:#FFFFFF;
  font-size:15px; 
  padding:5px 15px;
  font-family:arial;
  background:#d73a1e;
  margin:0 0 0 -40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
